@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box; 
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
#map {
  min-height: 35%;
  width: 100%;
  z-index: 0;
}
#app {
  padding: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  z-index: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#app .app-heading {
  flex-shrink: 0;
}
#app .app-content {
  overflow: auto;
}
#app h2 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
header {
  padding: 10px;
  background-color: #ffffff;
}
header #logo {
  height: 40px;
  width: auto;
}
nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
nav a { 
  color: #cacaca; 
  transition-property: color; 
  transition-duration: 300ms; 
  transition-timing-function: ease; 
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.71em;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.00)
}
nav a:hover { 
  color: #0ed499; 
  border-bottom: 1px solid #aca9a9;
}
nav a.active { 
  border-bottom: 1px solid #0ed499;
}
header, footer {
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 2;
}
#bucket-count {
  background-color: #39dfa7;
  border-radius: 3px;
  padding: 2px 3px;
  position: relative;
  top: -6px;
  left: 3px;
  font-size: 0.9em;
  transition-duration: 300ms;
  transition-timing-function: ease;
  color: #000000;
}
#bucket-count.active {
  background-color: #aaeed7;
  color: #ffffff;
}
footer {
  padding: 8px;
  text-align: center;
  z-index: 2;
  color: #aca9a9;
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    overflow: hidden;
  }
  #map {
    height: 100%;
    flex: 1;
  }
  #app {
    width: 350px;
    margin-right: -340px;
    transition-duration: 500ms; 
    transition-timing-function: ease; 
  }
  #app.active {
    margin-right: 0;
  }
  header #logo {
    height: 60px;
    width: auto;
  }
  nav a {
    font-size: 1.25em;
    margin-left: 20px;
  }
}
/* Map */
.marker {
  background-image: url('../images/airplane_icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
  
.mapboxgl-popup {
  max-width: 200px;
}

/* Loader */
#loader {
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loader .spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Modal */
#modal {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 15px;
  border-radius: 4px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
#modal.active {
  z-index: 4;
  left: 50%;
  top: 50px;
  transform: translate(-50%, auto);
}
#modal h3 {
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  margin: 0;
}

/* Search Form Styling */
#search-container, #bucketlist-header {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 15px;
}
#search-form input[type='text'] {
  width: 100%;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid #cacaca;
  font-size: 1.1em;
}
#search-form select, #search-select, #sort-type {
  border-radius: 4px;
  border: 1px solid #cacaca;
  padding: 5px;
  color: #333333;
}
#search-select {
  font-size: 1.1em;
  width: 100%;
  display: none;;
}
#search-type-container, #sort {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search-type-container select, #sort-type {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}
#all-btn {
  float: right;
}
button {
  border-radius: 4px;
  background-color: #858585;
  border: none;
  cursor: pointer;
  padding: 7px;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.blue-btn {
  background-color: #4bb5e6;
}
.blue-btn:hover {
  background-color: #69c8f5;
}
.green-btn {
  background-color: #61d67b;
}
.green-btn:hover {
  background-color: #72f38e;
}
.red-btn {
  background-color: #c42a2a;
  color: #ffffff;
}
.red-btn:hover {
  background-color: #db3535;
}
.app-content ul {
  list-style: none;
  padding: 0;
  margin: 3px;
}
.app-content li {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f1f1f1;
  transition-duration: 500ms;
  transition-timing-function: ease;
  opacity: 100%;
  z-index: 3;
}
.app-content li .country-overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.app-content li.deleting {
  opacity: 0;
  filter: grayscale(1);
  z-index: -1;
  overflow: hidden;
}
.app-content li:hover {
  background-color: #d9fff4;
}
.app-content li h4 {
  margin: 0;
  padding: 0;
}
.app-content li p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #858585;
}
.app-content .country-info {
  flex: 1;
  margin-left: 10px;
}
.app-content .country-options {
  display: flex;
  flex-direction: column;
}
.app-content .country-options button {
  margin: 3px;
  font-size: 0.8em;
}
#app .hidden {
  display: none;
}
.bucketlist-details {
  margin-top: 5px;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #0ed499;
}
.fa-star {
  margin-right: 4px !important;
  color: #8d8d8d;
  cursor: pointer;
}
.checked, .fa-star:hover {
  color: orange;
}
.added {
  font-size: 0.8em;
  width: 100%;
  text-align: right;
  display: block;
  color: #6b6b6b;
}
.notes {
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #c7c7c7;
  padding: 4px;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 4px;;
}
.note-form {
  display: none;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 4px;
}
.note-form input[type='text'] {
  background-color: #fcfcfc;
  border: 1px solid #c7c7c7;
  padding: 4px;
  border-radius: 4px;
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.faded, .faded-margintop {
  color: #8b8b8b;
}
.faded-margintop {
  margin-top: 10px;
  display: block;
}