@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box; 
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
#map {
  min-height: 50%;
  width: 100%;
  z-index: 0;
}
#app {
  width: 100%;
  overflow: auto;
  display: block;
  padding: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
#app .app-heading {
  flex-shrink: 0;
}
#app .app-content {
  flex: 1;
  overflow: scroll;
}
header {
  padding: 10px;
  background-color: #ffffff;
}
header #logo {
  height: 40px;
  width: auto;
}
nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
nav a { 
  color: #cacaca; 
  transition-property: color; 
  transition-duration: 300ms; 
  transition-timing-function: ease; 
  text-decoration: none;
  margin-left: 10px;
  font-size: 0.71em;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.00)
}
nav a:hover { 
  color: #0ed499; 
  border-bottom: 1px solid #aca9a9;
}
nav a.active { 
  border-bottom: 1px solid #0ed499;
}
header, footer {
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 2;
}
footer {
  padding: 8px;
  text-align: center;
  z-index: 2;
  color: #aca9a9;
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    overflow: hidden;
  }
  #map {
    height: 100%;
    flex: 1;
  }
  #app {
    width: 350px;
    overflow: auto;
    margin-right: -340px;
    transition-duration: 500ms; 
    transition-timing-function: ease; 
  }
  #app.active {
    margin-right: 0;
  }
  header #logo {
    height: 60px;
    width: auto;
  }
  nav a {
    font-size: 1.25em;
    margin-left: 20px;
  }
}
/* Modal */
#modal {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  padding: 15px;
  border-radius: 4px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
#modal.active {
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#modal h3 {
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  margin: 0;
}
#modal p {
}

/* Search Form Styling */
#search-container {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 15px;
}
#search-form input[type='text'] {
  width: 100%;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid #cacaca;
  font-size: 1.1em;
}
#search-form select, #search-select {
  border-radius: 4px;
  border: 1px solid #cacaca;
  padding: 5px;
  color: #333333;
}
#search-select {
  font-size: 1.1em;
  width: 100%;
  display: none;;
}
#search-type-container {
  margin-top: 10px;
}
#all-btn {
  float: right;
}
button {
  border-radius: 4px;
  background-color: #858585;
  border: none;
  cursor: pointer;
  padding: 7px;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.blue-btn {
  background-color: #4bb5e6;
}
.blue-btn:hover {
  background-color: #69c8f5;
}
.green-btn {
  background-color: #61d67b;
}
.green-btn:hover {
  background-color: #72f38e;
}
.red-btn {
  background-color: #c42a2a;
  color: #ffffff;
}
.red-btn:hover {
  background-color: #db3535;
}
.app-content ul {
  list-style: none;
  padding: 0;
  margin: 3px;
}
.app-content li {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  cursor: pointer;
}
.app-content li:hover {
  background-color: #d9fff4;
}
.app-content li h4 {
  margin: 0;
  padding: 0;
}
.app-content li p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  color: #858585;
}
.app-content .country-info {
  flex: 1;
  margin-left: 10px;
}
.app-content .country-options {
  display: flex;
  flex-direction: column;
}
.app-content .country-options button {
  margin: 3px;
  font-size: 0.8em;
}
#bucketlist-page {
  display: none;
}